/* index.html */
.content a{
    color:#000;
}
a:hover{
    color:inherit;
    text-decoration: none;
    cursor: pointer;
}
.header-text{
    text-align: center;
}

.header-text h3{
    font-weight: bold;
}

.header{
    margin-bottom: 50px;
}

.select-input{
    padding: 10px;
    font-weight: bold;
    width:100%;
}

.clear-filter-button{
    background-color: #000;
    border:none;
    color:#fff;
    font-weight: bold;
    padding: 10px;
    display: inline;
    float: left;
}

.clear-filter-cross{
    display: inline;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 13px;
    padding-right: 13px;
    border: 1px solid #000;
    font-weight: bold;
    float: left;
}

.product{
    text-align: center;
    margin-bottom: 25px;
}

.product .price{
    font-weight: bold;
}

/* product.html */


.product-info{
    margin-top:25px;
}

.product-info .select-size-input{
    padding-left: 45%;
}

.product-info .product-title{
    margin-bottom: 15px;
    font-weight: bold;
}

.product-info .product-desc-text{
    margin-bottom: 15px;
}

.product-info .product-price{
    font-size:16px;
    font-weight: bold;
    margin-bottom:50px;
}

.buy-button{
    background-color: #000;
    border:none;
    color:#fff;
    font-weight: bold;
    padding: 10px;
    width:100%;
    margin-top: 10px;
    display: block;
    text-align: center;
}


/* cart.html */
.cart{
    margin-bottom: 50px;
}
.cart-list .product-class{
    border-top: 2px solid #000; 
    padding: 0;
}

.cart-list .product-in-cart,
.cart-list .product-in-cart .col-md-4,
.cart-list .product-in-cart .col-md-12,
.cart-list .product-in-cart .col-md-6{
    padding: 0;
}

.cart-list .product-in-cart{
    margin-top: 30px;
}

.cart-list .product-in-cart .title{

    font-size: 16px;
}

.cart-list .product-in-cart .color-caption,
.cart-list .product-in-cart .size-caption{
    margin: 0;
    color: #D3D3D3;

}


.cart-list .product-in-cart .color-val,
.cart-list .product-in-cart .size-val{
    font-weight: bold;
}

.cart-list .product-in-cart .amout-num{
    margin-top: 5px;
}

.cart-list .product-in-cart .counter{
margin-top: 30px;
}
.cart-list .product-in-cart .price{
    font-size: 16px;
}

.cart-list .product-image .delete-btn .delete-cart,
.cart-list .product-in-cart .btn-counter{
    border: none;
    background: #000;
    color: #fff;
    padding: 5px 11px;
    display: inline;
}

.cart-list .product-image .delete-btn .delete-cart{
    vertical-align: top;
    margin-top: 30px;
}

.cart-list .product-in-cart .count{
    padding: 0 15px;
    display: inline-block;
}

.cart-form .vaucher-form{
    margin-top: 55px;
    color: #000;
    padding-bottom: 25px;
    border-bottom: 1px solid #D3D3D3;
}

.cart-form .input-shop{
    border-color:#000;
    border-width: 1px;
    width: 100%;
   padding: 5px;
}

.cart-form .btn-shop{
    border: 1px solid black;
    background-color: #000;
    color:#fff;
    
}

.cart-form .submit{
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    font-weight: bold;
}

.cart-form .total-price{
    margin-top:10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #D3D3D3;
}

.cart-form .user-form{
    margin-top: 20px;
}

.cart-form .user-form .user-form-title{
    font-size: 16px;
}

.cart-form .user-form .input-shop{
    margin-bottom:10px;
}

.cart-form .user-form .country-select{
    margin-bottom:10px;
    width:80%;
}

.cart-form .complete{
    margin-top: 15px; 
    padding: 8px 25px;
    font-size: 18px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.agreement-list ul{
    list-style: none;
    padding: 0;
}

.agreement-list ul li{
    margin-top:15px; 
}

.cart-form .cube-list{
    width: 15px;
    height: 15px;
    display: inline-block;
    border: 1px solid #000;
    margin-right: 20px;
    vertical-align: middle;
}
.cart-form .cube-list:hover{
    cursor: pointer;
}

.cart-form .cube-list.active{
    background-color:#000;
}

/* slick slider */
.slider-for{
    width:350px!important;
    margin:0 auto
}

.slider-for .slick-track{
    height: 500px;

}

.slider-nav .slick-track{
    height: 154px;
}
.result-table{
    width: 100%
}
.result-table tr td:first-child{
    width:50%
}
.result-table tr td:last-child{
    text-align: right;
}

.grand-total{
    font-size: 15px;
    line-height: 40px;
}


.err-msg{
    color: red;
    text-align: center;
    margin-top: 15px;
    }
.err-succ{
    color: green;
    text-align: center;
    margin-top: 15px;
}

